<form (submit)='onSubmit($event, noteForm)' #noteForm='ngForm'>
  <div class="form-group">
    <label for="content">Content:</label>
    <input type="text" class="form-control" id="content" name="content" [(ngModel)]='note.content' #content='ngModel'  required minlength="5">

    <div *ngIf='(content.touched) && content.errors'>
      <div *ngIf='content.errors.required'>
        You must enter a content
      </div>

      <div *ngIf='content.errors.minlength'>
        Content's length must be at least 5 characters          
      </div>
    </div>

  </div>
  <button type="submit" class="btn btn-success" [disabled]='noteForm.invalid'>Add</button>
</form>

<hr>