<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Quoting Dojo</title>
    
</head>
<body>
    <div class="container">
    <h1>Welcome to quoting Dojo</h1>
    <form action="/quotes" method="POST" >
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="name">Your name</label>
                <input type="text" class="form-control" id="name" placeholder="Your name" name="name">
            </div>
        </div>

        <div class="row">
                <div class="form-group col-xs-3">
                    <label for="quote">Your quote</label>
                    <textarea name="quote" id="quote" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add my quote!</button>
        </div>
       

        
        <a href="/quotes">Skip the quotes!</a>

       
    </div>

    
</body>
</html>
